.popupText {
  font-size: 10pt; 
}

.modalImage {
  display: block;
margin-left: auto;
margin-right: auto;
}

#book > div > div.content.active > div:nth-child(n) > p {
  cursor: pointer;
}

.image {
  display: block;
  margin-left: auto;
margin-right: auto;
}

img {
  display: block
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.citationLink {
  text-align: right;

}

#map {
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 3;
}

#home p {
  text-indent: 20px;
}


.date {
position: absolute;
bottom: 57vh;
right: 20vh;
font-size: 5em;
}

.glossary {
width: 250px;
right: 50vh;
position: absolute;
z-index: 50;
}

/* modal */

.infoModalText {

padding: 5vh;
padding-top: 0vh;

}

.short, .long {
  text-indent: 50px;
}

.citation {
  text-align: right;
}


.leaflet-sidebar {
z-index: -4;
}

.dimmer {
z-index: 7;
}


body{
  z-index: -30;
}


.leaflet-popup-content-wrapper {
  z-index: 20;
}

.leaflet-map-pane,  .leaflet-popup {
  z-index: 5;
}


.forMap {
position: fixed;
display: inline;
bottom: 20%;
z-index: 3;
}

.grid {
width: 100%;
padding: 30%;
}

.progress {
position: relative;
top: 50%;
transform: translateY(-50%);

}


.right {

margin-right: 30px;
}

.left {
margin-left: 30px;
}



.nav {
position: fixed;
top: 50px;
z-index: -1;
left:auto;
}

.bottom {

height: 80vh;
 padding: 30px;
}

.menu {

height: 60px;
}

/* isotope */
.grid-item {
height: 100px;
}

.easy-button-button {
border: none;
background-color: transparent;
}

.hidden {
visibility: hidden;
z-index: -2;
}

.link, .reference {
text-decoration: underline;
color: #e83055;
cursor: pointer;
font-weight: bold;
}
.link:hover, .reference:hover {
color: #1b998b;
}

.figures {
height: 450vh;
}

.picture-item {
width: 250px;
display: inline-block;
vertical-align: top;
}

.card {
width: 200px;
vertical-align: top;
}

.chosenFigure {
border-style: solid;
border-color: #d64550;
border-radius: 5px;
border-width: thick;
}

.raised {
padding: 15px;
margin: 25px;
}

.porthole {
height: 50px;
}

.descriptionText {
font-size: 1.5em;
}

.about {
height: 175vh;
}

.about h1 {
margin-left: 85px;
}

.aboutHeader {
margin-left: 99px;
}

.summary, .summaryHeader {
text-indent: 70px;
}

.intro {
height: 150vh;
}

.modalContent {
font-size: 13pt;
text-indent: 50px;

}

.modalDescription {
text-indent: 50px;
}

.vertical {
z-index: 30;
}



    .lorem {
        font-style: italic;
        text-align: justify;
        color: #AAA;
    }

.styled {
margin-right: : 8px;

padding:5px;
width: 30%;
}

/*   from semantic layout */


body {
  background-color: #FFFFFF;
}
.main.container {
  margin-top: 2em;
}

.main.menu {
  margin-top: 4em;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition:
    box-shadow 0.5s ease,
    padding 0.5s ease
  ;
}
.main.menu .item img.logo {
  margin-right: 1.5em;
}

.overlay {
  float: left;
  margin: 0em 3em 1em 0em;
}
.overlay .menu {
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.main.menu.fixed {
  background-color: #FFFFFF;
  border: 1px solid #DDD;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.overlay.fixed .menu {
  left: 800px;
}

.text.container .left.floated.image {
  margin: 2em 2em 2em -4em;
}
.text.container .right.floated.image {
  margin: 2em -4em 2em 2em;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
